.carousel {
    padding: 2rem 0;
}

.carousel .slider-wrapper{
    width:80% !important;
}
.carousel .slide img{
    width:95% !important;
}


.carousel img {
    height: 50vh;
    object-fit: contain;
}

@media screen and (max-width: 780px) {
    .carousel img {
        height: 50vh;
        object-fit: cover;
    }
  }

  @media screen and (max-width: 480px) {
    .carousel img {
        width:100% !important;
        height: 40vh;
    }
  }

.thumbs-wrapper, .carousel-status {
    display: none;
}



